<div class="footer-box">
    <div class="top-section">
        <div class="badgets-box">
            <a href="" class="badge">
                <img src="../assets/images/footer-badgets/badge-1.png" alt="badge">
                <span>ساماندهی</span>
            </a>
            <a href="" class="badge">
                <img src="../assets/images/footer-badgets/badge-2.png" alt="badge">
                <span>سازمان نظام صنفی رایانه ای کشور</span>
            </a>
            <a href="" class="badge">
                <img src="../assets/images/footer-badgets/badge-3.png" alt="badge">
                <span>نماد اعتماد الکترونیکی</span>
            </a>
        </div>
        <div class="shop-location">
            <iframe title="map-iframe"
                src="https://neshan.org/maps/iframe/places/cad8ba2270567fa7b5a9ad25042e4241#c38.246-48.294-18z-0p/38.24604312843567/48.293461394006606"
                allowFullScreen loading="lazy">
            </iframe>
        </div>
    </div>
    <div class="separator-line"></div>
    <div class="footer-contact">
        <div class="phone-box">
            <p>
                <span class="phone-lbl">خط ویژه :</span>
                <span>
                    <a href="tel:02188904567" class="phone-num">021-88904567</a>
                </span>
            </p>
        </div>
        <div class="shop-address">
            <p>
                <i class="ri-map-pin-2-line"></i>
                <span style="color: #ffc037;">آدرس :</span>
                اردبیل، چهارراه امام خمینی، مجتمع تجاری صدف، طبقه فوقانی، کد 102، فروشگاه ایرانیان
                کامپیوتر
            </p>
        </div>
    </div>
    <div class="separator-line"></div>
    <div class="footer-links-box">
        <article class="footer-link">
            <a href="../about.html">درباره ما</a>
        </article>
        <article class="footer-link">
            <a href="../contact.html">ارتباط با ما</a>
        </article>
        <article class="footer-link">
            <a href="../buy-map.html">نقشه خرید سایت</a>
        </article>
        <article class="footer-link">
            <a href="../terms.html">قوانین سایت</a>
        </article>
        <article class="footer-link">
            <a href="../warranty.html">گارانتی اصل رو بشناس</a>
        </article>
        <article class="footer-link">
            <a href="../send-product.html">نحوه ارسال کالا</a>
        </article>
        <article class="footer-link">
            <a href="../return-product.html">نحوه مرجوعی کالا</a>
        </article>
    </div>
    <div class="social-media-box">
        <a href="">
            <i class="ri-instagram-line social-media-logo" id="instagram-logo"></i>
        </a>
        <a href="">
            <i class="ri-whatsapp-line social-media-logo" id="whatsapp-logo"></i>
        </a>
        <a href="">
            <i class="ri-telegram-line social-media-logo" id="telegram-logo"></i>
        </a>
        <a href="">
            <i class="ri-linkedin-fill social-media-logo" id="linkedin-logo"></i>
        </a>
    </div>
    <div class="separator-line"></div>
    <div class="copyright-box">
        <div>
            <p>
                Iraniancomputer.com – Copyright © 2015-2026 – All Rights Reserved
            </p>
        </div>
        <div>
            <p>
                استفاده از مطالب سایت ایرانیان کامپیوتر با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به فروشگاه
                اینترنتی ایرانیان کامپیوتر می باشد.
            </p>
        </div>
    </div>
</div>