<nav class="mobile-navbar-box">
    <!-- mobile navbar section -->
    <section class="navbar-box">
        <div class="navbar-item">
            <a href="../index.html">
                <i class="ri-home-4-line"></i>
            </a>
            <span>خانه</span>
        </div>
        <div class="navbar-item">
            <a href="../search.html">
                <i class="ri-search-line"></i>
            </a>
            <span>جستجو</span>
        </div>
        <div class="navbar-item">
            <a href="../index.html">
                <i class="ri-layout-grid-fill" style="color: #0aca1a;"></i>
            </a>
            <span>دسته بندی ها</span>
        </div>
        <div class="navbar-item">
            <a href="../cart.html">
                <i class="ri-shopping-cart-line"></i>
            </a>
            <span>سبد خرید</span>
        </div>
        <div class="navbar-item">
            <a href="../login.html" target="_blank">
                <i class="ri-user-line"></i>
            </a>
            <span>حساب کاربری</span>
        </div>
    </section>
</nav>